<p>
<div>
  <p><b>Shortcuts:</b></p>
  <ul>
  <li>
    CTRL+Q: fold / unfold code
  </li>
  <li>
    CTRL+SPACE: autosuggest / autocomplete
  </li>
  <li>
    CTRL+H: Find and Replace
  </li>
  <li>
    Supports sublime keymap: <a href="https://codemirror.net/demo/sublime.html" target="_blank"></a>
  </li>
</ul>
</div>

</p>
