<div id="tests">
  <p>
    <div class="">
      <%= f.label :tests, :class => 'control-label ' %>
      <div class="">
        <%= f.text_area :tests, :class => 'form-control'%>
      </div>
      <%=f.error_span(:tests) %>
    </div>
  </p>
</div>    

