<div id="qunit-fixture">
  <%= get_html_body(@js_bin) -%>
</div>

<div>
  <script type="text/javascript">
  <%= @js_bin.js.html_safe -%>
  </script>
</div>

<div>
  <script type="text/javascript">
    QUnit.testStart(function( details ) {
      <%= @js_bin.js_init.html_safe -%>
    });

    <%= @js_bin.tests.html_safe -%>
  </script>
</div>