/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require codemirror
 *= require codemirror/themes/night
 *= require codemirror/addons/fold/foldgutter
 *= require codemirror/addons/dialog/dialog
 *= require codemirror/addons/hint/show-hint
 *= require jquery-ui/tabs
 */


div#console{
  min-height: 350px;
  overflow: auto;
}

div#console code{
  display: block;
}

.CodeMirror{
  height: auto !important;
}

span#lint_error_count, span#rubocop_error_count{
  padding: 2px;
  font-size: smaller;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
}

div#errors div{
  padding: 2px;
  margin: 2px;
}
div#errors div.unused{
  background-color: #ddd;
}

div#errors div[class*='error']{
  background-color: #FDDCDC;
}

div#errors div.convention{
  background: #fff8c3;
}

div#errors div.refactor{
  background: #DEBDFD;
}

div#errors div.warning{
  background: #FFB88F;
}

div#errors div.error{
  background: #FFC8C8;
}

div#errors div.fatal{
  background: #FF0A0A;
}

div#test_run div.pass{
  background: green;
  padding: 15px;
}

div#test_run div.fail{
  padding: 15px;
  background: red;
}


.ui-widget-content a{
  text-decoration-color: maroon;
  text-decoration: underline;
}


.CodeMirror{
  font-size: 14px;
}

/*codemirror search highlight matching css*/
.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}
div.CodeMirror span.CodeMirror-matchingbracket{
  color: #b91d1d !important;
}
